#page-lists {
    .entries {
        display: flex;
        flex-wrap: wrap;
        .entry {
            display: flex;
            padding-right: 32px;
            //width: 33%;
            //min-width: 280px;

            .icon {
                padding-right: 16px;
            }
        }
    }
}
