#menu-main {
    @media (max-width: @max-width-tablet) {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        .navbar-brand {
            display: none;
        }
    }
    @media (max-width: @max-width-phone) {
        .navbar-brand {
            display:none;
        }
        ul {
            width: 100%;
            li {
                flex: 1 1 0px;
                img {
                    margin-right: 0;
                }
                &:last-child {
                    flex: 0;
                }
            }
        }
        .navbar-brand, .nav-link span {
            display: none;
        }
    }
    .navbar-brand, .nav-link {
        img {
            width: 30px;
            height: 30px;
            margin-right: 6px;
            position: relative;
            top: -2px;
        }
        span {
            color: #f0f0f0;
        }
    }
    .nav-link {
        > img {
            filter: invert(99%) sepia(9%) saturate(128%) hue-rotate(250deg) brightness(113%) contrast(88%);
        }
    }

    .active {
        .nav-link {
            span {
                color: #ffffff;
            }
            img {
                filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(107deg) brightness(94%) contrast(115%);
            }
        }
    }
}

.container {
    @media (max-width: @max-width-tablet) {
        padding-bottom: 56px;
    }
}
