.evolutions {
    span {
        vertical-align: top;
    }
    .pokemon {
        display: block;
    }
    > .pokemon {
        display: inline-block;
    }
    .next {
        display: inline-block;
    }
}

.evolution-reasons {
    .reason-list {
        margin-left: 48px;
    }
}