.evolutions {
    span {
        vertical-align: top;
    }

    .pokemon {
        display: block;
    }

    > .pokemon {
        display: inline-block;
    }

    .next {
        display: inline-block;
    }
}

.evolution-reasons-list {
    display: grid;
    grid-template-columns: max-content auto;

    .reason-title {
    }

    .reason-list {
        margin-left: 16px;
    }
}