.string-revealed {
    p {
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
    }
}

img.twitter {
    color: #0000f0;
}

#a2hs {
    padding-bottom: 24px;
}

#tools {
    .entry {
        margin-bottom: 0.5em;

        a img {
            filter: invert(37%) sepia(44%) saturate(7485%) hue-rotate(201deg) brightness(104%) contrast(103%);
            padding-right: 2px;
            position: relative;
            top: -2px;
        }

        h3 {
            display: inline-block;
            margin-bottom: 0;
        }
    }
}

.twitter {
    filter: invert(50%) sepia(68%) saturate(2210%) hue-rotate(176deg) brightness(100%) contrast(91%);
}
